

body{

margin : 0;
text-align: center;

font-family: 'Merriweather', 'serif';}

a {font-family: 'Montserrat';
text-decoration: none;
margin: 10px 20px;
font-size: 25px;
}
a:hover{
    color:#ffffff
}
.copyright{
    font-size: 0.75rem;
    color: #ffffff;
}


.top-container{

    display: block;
    background-color: #8FE3CF;
     height: 300px;   
}
.middle-container {
padding-top: 15px;
padding-bottom: 15px;
padding-left: 0;
padding-right: 0;
margin :100px 0px;
}
.intro {
 position: relative;
 top:250px;
 right: auto;
 left: auto;
 bottom :auto;


}
.bottom-container{
padding-top: 40px;
padding-bottom: 10px;
background-color: #66BFBF;

}

h1{
    margin :0;
    font-family: 'Sacramento';
    font-size: 90px;
color: #66BFBF;
line-height: 2;
    
}
h2 {
    color: #11999E;
    font-weight: normal;
   
   

}
h3 {
    color: #11999E;
}
 hr{
    border: dotted;
    border-bottom: 0px;
    color: darkgrey;
    width: 4%;
    margin: 100px auto;
 }



.footer-link{

    color: #11999E;
}

.skill-row{
    width: 50%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: left;
    line-height: 2;   
}
.skillimg{
    width: 30%;
    margin: auto ;
    float: left;
    margin-right: 30px;
}
.coffeeimg{
    width: 30%;
    margin: auto ;
    float: right;
    margin-right: 30px;
}

.profilepic{
    width: 20%;
    height: 20%;

}
.btn {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family:  'Montserrat' , sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }




    

